# Google App Engine generated folder
appengine-generated/
.settings/
.classpath/
.project/
base_project/base/.classpath
base_project/base/.project
base_project/base/src/main/java/META-INF/persistence.xml
tuneIn/tuneIn/target/
tuneIn/tuneIn/bin/
tuneIn/tuneIn/.project
